html, body, .App, .Home{
  position: absolute; width: 100% !important; height: 100% !important;
}
.App {
  text-align: center;
  /* background-color: #f6f2eb; */
  font-family: 'Open Sans', sans-serif;
}
.Home {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url("https://images.unsplash.com/photo-1490555057042-39428536226a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80") !important;
  background-size: cover;
}
.Home h1 {
  color: white; 
  padding-Top: 25%; 
  font-size: 10rem;
}
.signIn {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url("https://images.unsplash.com/photo-1486256190469-627576361a6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: scroll;

}
.signInContent {
  background-color: rgba(219, 219, 219, 0.98);
  padding: 2%;
  margin-top: 10%;
  margin-left:auto;
  margin-right:auto;
  width:40%;
  box-shadow: 0 8px 16px 0 rgba(243, 242, 242, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
} 
.signInButton button{
  margin-top: 3%;
  border-color: grey;
  box-shadow: 0 8px 10px 0 rgba(243, 242, 242, 0.6), 0 6px 8px 0 rgba(0, 0, 0, 0.562);

}
.signInContent input{
  margin-top: 3%;
  border-color: grey;
  box-shadow: 0 8px 10px 0 rgba(243, 242, 242, 0.6), 0 6px 8px 0 rgba(0, 0, 0, 0.562);

}
.signInButton button:hover{
  margin-top: 3%;
  box-shadow: 0 8px 16px 0 rgb(250, 250, 250), 0 12px 20px 0 rgba(0, 0, 0, 0.562);

}

.about {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url("https://images.unsplash.com/photo-1475856717448-9689907d696a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: scroll;

}
.about h3 {
  text-decoration: underline;
  size: 3rem;
  padding: 3% 0 3% 0;
  font-weight: bold;
}
.aboutContent {
  background-color: white;
  padding: 2%;
  margin-left:auto;
  margin-right:auto;
  width:60%;
  box-shadow: 0 8px 16px 0 rgba(243, 242, 242, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.562); 
}
.aboutContent h4 {
  line-height: 1.2;
}
.authenitcatedPageBG {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url('https://images.unsplash.com/photo-1495379572396-5f27a279ee91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') !important;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: scroll;
}
.navMain {
  background-color: black /* rgba(255, 255, 255, 0.788)*/;
  position:relative;
  font-family: 'Cuprum', sans-serif;  
  font-size: 3rem;
  color: white !important;
  text-align: center;
}
.navLink{
  color: black;
  padding: 10px;
  font-size: 2rem;
}
.navgreet{
  font-size: 1.5rem;
  color: #285128;
}
.nonAuthNav {
  background-color: rgba(0, 0, 0, 0.50);
  position:relative;
}
.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.698);
  /* border-radius: 50%; */
}
.hamburgerLink {
 font-size: 2rem;
 padding: 8px;
 color: white !important;
}
.signInHamburgerNav {
  background-color: white;
}
.mainContent {
  width: 75%;
  margin: auto;
  padding: 2%;
  background-color: white;
  /* border: 10px solid black; */
}
.selectedRouteContent {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
  background-color: white;
}
.userSettingsContent {
  width: 75%;
  margin: auto;
  padding: 2%;
  background-color: white;
}
.button  {
  width: 40%;
  height: 40;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(243, 242, 242, 0.472), 0 6px 20px 0 rgba(253, 253, 253, 0.623);

}
.mainPgStyle {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.62), 0 6px 20px 0 rgba(253, 253, 253, 0.923);
}
.button:hover  {
  width: 40%;
  height: 40;
  background-color: black;
  color: white;
  text-align: center;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(241, 103, 11, 0.438), 0 17px 50px 0 rgba(0,0,0,0.19)
}
.darkButton  {
  margin: 2%;
  width: 25%;
  height: 40;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.472), 0 6px 20px 0 rgba(253, 253, 253, 0.623);

}
.darkButton:hover  {
  width: 25%;
  height: 40;
  background-color: black;
  color: white;
  text-align: center;
  border: none;
}
.container {
  flex: 2;
  flex-direction: column;
  justify-content: 'space-evenly';
  position: absolute;
  left:0;
  bottom:50px;
  right:0;
}

.formContainer {
  width: 50%;
  margin: auto;
  text-align: left;
}
.header3 {
  background-color: #aca9a4;
}
.userSettings, .about {
  /* text-align: center; */
  margin: auto;
}
.fab {
  font-size: 3rem;
}
.fa-google-plus-square {
  color: #db3236;
}

.google Button{
  background-color: #db3236;
  color: white;
}
.fa-facebook {
  color: #3b5998;
}
.facebook Button{
  background-color: #3b5998;
  color: white;
}

.borderCheck {
  border: 3px solid green;
}
.settingsContainer {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}






/* .headerMain{
  font-family: 'Cuprum', sans-serif;  
  font-size: 2rem;
}
.headerSub {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
} */
/********fonts************
font-family: 'Cuprum', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* use border check className to troubleshoot */